


<div class="row">
    <div class="col-md-6">
      <a routerLink = '/autos-list' class="btn btn-link"><i class="fa fa-arrow-circle-o-left"></i> Back to autos-list</a>
    </div>
    <div class="col-md-6">
      <div class="btn-group pull-right">
        <a [routerLink]="['/edit-autos/'+objectAutoDetalle+'/'+autoId]"   class="btn btn-secondary">Edit</a>
        <button type="button" class="btn btn-danger" (click)="onDeleteClick()">Delete</button>
      </div>
        
    </div>
  </div>
  <hr>
 



  




  <ng-container *ngFor="let vit of vitacora; let ind = index">
   
    
    <table class="table table-striped"  




    
    *ngIf=" vit.id === objectAutoDetalle " >

    <thead class="thead-danger">
      <tr>
       <!--  <th>ID</th> -->
        <th>detalle</th>
        <th>costo</th>
        <th>recomendacion</th>
        
        
      </tr>
    </thead>

      <tbody>
 
        <!-- <td>{{vit.id}}</td>
        <td>{{vit.User}}</td>
        <td>{{vit.fecha.toDate() | date: 'dd-MM-yyyy' }}</td>
        <td>{{vit.kilometraje}}</td>
        <td>{{vit.descripcion}}</td> -->
        

          <tr *ngFor="let item of vit.itemRows; let ind = index; count as c">

            <td>{{item.descripcion}}</td>
            <td>{{item.costo}}</td>
            <td>{{item.recomendacion}}</td>
          </tr>



    </tbody>
    
  </table>

  <!-- <ng-template #elseNotDone>
    <br>
    It's Not Done!
    <br>
  </ng-template> -->
  </ng-container>

  